#maintext {
    margin-right: 200px;
    border: 1px; 
    border-color: black;
    border-style: solid;
}
body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 868px 862px;
    background-attachment: fixed;
}
img {
    border:3px solid #021a40;
}
#card-body {
    margin-left: 100px;
    margin-right: 100px;
}
#slides {
    margin-left: 100px;
    margin-right: 100px;
}
#imgslide {
    width: 600px;
    height: 380px;
}
#caption {
    height: 80px;
    color: rgb(54, 23, 126);
}
#media1 {
    background-color: rgb(122, 121, 121);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 400px;
    padding-top:30px;
    max-width: 75%;

}
#media2 {
    background-color:white;
    color:  rgb(122, 121, 121);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 400px;
    padding-top: 30px;
    max-width: 75%;

}
#media3 {
    background-color: rgb(122, 121, 121);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 400px;
    padding-top: 30px;
    max-width: 75%;

}
#media4 {
    background-color:white;
    color:  rgb(122, 121, 121);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 400px;
    padding-top: 30px;
    max-width: 75%;

}
#media5 {
    background-color: rgb(122, 121, 121);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 400px;
    padding-top: 30px;
    max-width: 75%;

}
#media6 {
    background-color:white;
    color:  rgb(122, 121, 121);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 400px;
    padding-top: 30px;
    max-width: 75%;

}
#media {
    background-color: white
    color: black;
    margin-left: 150px;
    width: 900px;



}

#picture {
    height: 168px;
    width:  300px;
    margin: 10px auto;
    align-content: left;
    box-shadow: 0px 0px 8px 2px rgb(105, 153, 255);
    margin-bottom: 30px;
}


#contact {
    padding: 5px;
    background-color: rgb(175, 181, 235);
    width: 25%;
    height: 200px;
    box-shadow: 0px 0px 8px 2px rgb(221, 238, 240);
    color: rgb(54, 23, 126);
}
